---
title: 所有文章
---

<h1>所有文章列表</h1>

<!-- 遍历分页后的文章 -->
{% for post in paginator.posts %}
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<p class="author">
分类：<span>{{ post.category }};</span><span class="date">发表于{{ post.date | date: "%Y-%m-%d" }}</span>
</p>
{% endfor %}

<!-- 分页链接 -->
<div class="pagination">
{% if paginator.previous_page %}
<a href="/page{{ paginator.previous_page }}" class="previous">上一页</a>
{% endif %}
<span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}页</span>
{% if paginator.next_page %}
<a href="/page{{ paginator.next_page }}" class="next">下一页</a>
{% endif %}
</div>
